/* Modal for Editing Cuisine/Recipe 
=========================================================*/
.modal-for-edit .modal-header {
    background-color: var(--bs-success-bg-subtle);
}

.modal-for-edit .modal-content {
    border: 5px solid var(--bs-success-border-subtle);
}

/* Modal for Deleting Cuisine/Recipe 
=========================================================*/
.modal-for-delete .modal-header {
    background-color: var(--bs-danger-bg-subtle);
}

.modal-for-delete .modal-content {
    border: 5px solid var(--bs-danger-border-subtle);
}

/* Recipe Ingredients and Method 
=========================================================*/
.recipe {
    /* Removes white space (the tab/indent) before first line and that above it */
    white-space: pre-line;
    margin-top: -1em;
}

.recipe.card-body {
    /* Removes white space above first line even more to sit flush within card body */
    margin-top: -2em;
}