<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon/favicon.ico') }}">
    <title>Recipe Site</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Responsive Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <!-- <img src="#" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
                Recipe Site
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cuisine') }}">Cuisines</a>
                    </li>
                    {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
                    </li>
                    {% endif %}
                </ul>

                <form class="d-flex" role="search">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    {% block content %}
    <main>

        <!-- Hero -->
        <section class="hero">
            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        {% if g.user %}
                        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                            Welcome {{ g.user.f_name }}!
                        </h1>
                        {% else %}
                        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                            Welcome to Recipe Site
                        </h1>
                        <p class="col-lg-10 fs-4">
                            Browse recipes, upload your own &amp; more!
                        </p>
                        {% endif %}
                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        <!-- Sign In Form -->
                        {% if g.user == None %}
                        <form method="POST" action="{{ url_for('sign_in') }}"
                            class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                            <h4>
                                Sign In
                            </h4>
                            <hr class="my-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="username"
                                    placeholder="Username" required>
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="mb-3">
                                <button class="w-50 btn btn-lg btn-primary" type="submit">Sign In</button>
                                <a class="btn btn-secondary mx-3" href="{{ url_for('sign_up') }}">Sign Up</a>
                            </div>
                            <small>
                                <a href="#">Forgotten Password?</a>
                            </small>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <style>
            .hero {
                background-image: url("{{ url_for('static', filename='/assets/images/hero.jpg') }}");
                background-size: cover;
                background-position: center;
                /* color: #fff;  Set text color to white or another contrasting color */
            }
        </style>

        <!-- Carousel to display recipes rated 4 stars or more -->
        <section id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for batch in recipes|batch(4) %}
                {% set filtered_recipes = batch|selectattr('average_rating', 'ge', 4)|list %}
                {% if filtered_recipes %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <div class="py-5">
                        <div class="container px-4 px-lg-5 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
                                {% for recipe in filtered_recipes %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Rating Badge -->
                                        <div class="badge bg-dark text-white position-absolute"
                                            style="top: 0.5rem; right: 0.5rem">
                                            <!-- Star Rating -->
                                            {% if recipe.average_rating is defined and recipe.average_rating == 4 %}
                                            <!-- Display Average Rating As Stars -->
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            {% elif 5 > recipe.average_rating > 4 %}
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            {% elif recipe.average_rating == 5 %}
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            {% endif %}
                                            <!-- Display Average Rating As Float, rounded to 1 decimal place -->
                                            {{ recipe.average_rating|round(1) }}
                                        </div>
                                        <!-- Cuisine Type -->
                                        <div class="badge bg-dark text-white position-absolute"
                                            style="top: 0.5rem; left: 0.5rem">
                                            <a class="text-decoration-none text-white"
                                                href="{{ url_for('recipes', cuisine_id=recipe.cuisine_id) }}">
                                                {{ recipe.cuisine }}
                                            </a>
                                        </div>
                                        <!-- Recipe image -->
                                        <img class="card-img-top img-fluid" width="100%" height="180"
                                            src="{{ recipe.recipe_img }}"
                                            alt="Image for '{{recipe.recipe_name}}' Recipe">
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Recipe name -->
                                                <h5 class="fw-bolder">{{ recipe.recipe_name }}</h5>
                                                <!-- Recipe Serves -->
                                                Serves: {{ recipe.recipe_serves }}
                                            </div>
                                        </div>
                                        <!-- View Recipe Button -->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center">
                                                <a class="btn btn-outline-dark mt-auto"
                                                    href="{{ url_for('recipe', id=recipe.id) }}">View Recipe</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>

    </main>
    {% endblock %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Recipe Site <span id="copyright"></span></p>
        </div>
    </footer>

    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <!--FontAwesome Icons-->
    <script src="https://kit.fontawesome.com/abda6128c4.js" crossorigin="anonymous"></script>
    <!-- jQuery via Google CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>