{% extends "base.html" %}
{% block content %}
<style>
    header {
        height: 50vh;
        background-image: url("{{ url_for('static', filename='/assets/images/hero_2.jpg') }}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
</style>

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-start" style="margin-top: 10%; margin-bottom: 10%;">
            <h1 class="text-white display-4 fw-bold">{{ cuisine_type }} Recipes</h1>
        </div>
    </div>
</header>

<main class="container">
    <!-- Recipe Preview Displayed in Cards-->
    <div class="row mb-3">
        {% for recipe in recipes %}
        <div class="col mb-3">
            <div class="card" style="width: 18rem;">

                <!-- Recipe Image -->
                <img src="{{ recipe.recipe_img }}" width="100%" height="180" class="card-img-top img-fluid"
                    alt="Image for '{{ recipe.recipe_name }}' Recipe">
                <!--Recipe Content-->
                <div class="text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                        <a href="{{ url_for('recipe', id=recipe.id) }}" class="btn btn-primary">
                            <i class="fa-solid fa-magnifying-glass"></i> View</a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fa-solid fa-user"></i> {{ recipe.user.username }}
                            </li>
                            <li class="list-group-item">
                                <i class="fa-solid fa-calendar-day"></i> {{ recipe.post_date.strftime('%d/%m/%Y') }}
                            </li>
                            {% if recipe.user == g.user %}
                            <li class="list-group-item">
                                <!--Button trigger modal to Edit Recipe -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#modal-for-edit-{{ recipe.id }}">
                                    <i class="fa-solid fa-pencil"></i> Edit</a>
                                </button>
                                <!-- Button trigger modal to Delete Recipe -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#modal-for-delete-{{ recipe.id }}">
                                    <i class="fa-solid fa-trash-can"></i> Delete</a>
                                </button>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to Edit Recipe -->
        <div class="modal fade modal-for-edit" id="modal-for-edit-{{ recipe.id }}" tabindex="-1"
            data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modal-for-edit-{{ recipe.id }}"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-{{ recipe.id }}">
                            <i class="fa-solid fa-pencil"></i> Edit: "{{ recipe.recipe_name }}"</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form to Edit Recipe -->
                        <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
                            <!-- Recipe Name -->
                            <div class="mb-3">
                                <label for="recipe_name" class="form-label"><i class="fa-solid fa-utensils"></i> Recipe
                                    Name:</label>
                                <input type="text" class="form-control" id="recipe_name" name="recipe_name"
                                    aria-describedby="recipe_name" required>
                            </div>
                            <!-- Cuisine Type -->
                            <div class="mb-3">
                                <label for="cuisine_id"><i class="fa-solid fa-kitchen-set"></i> Cuisine Type:</label>
                                <select class="form-select" name="cuisine_id" id="cuisine_id" required>
                                    <option value="" disabled selected>Choose...</option>
                                    {% for cuisine in cuisines %}
                                    <option value="{{ cuisine.id }}">{{ cuisine.cuisine_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Recipe Description -->
                            <div class="mb-3">
                                <label for="recipe_description" class="form-label"><i
                                        class="fa-solid fa-bars-staggered"></i>
                                    Description:</label>
                                <textarea class="form-control" id="recipe_description" name="recipe_description"
                                    rows="5" aria-describedby="recipe_description" required></textarea>
                            </div>

                            <!-- Recipe Serves -->
                            <div class="mb-3">
                                <label for="recipe_serves"><i class="fa-solid fa-people-group"></i> Serves how
                                    many?</label>
                                <input type="number" class="form-control" name="recipe_serves" id="recipe_serves"
                                    min="1" max="12" required>
                            </div>

                            <!-- Ingredients -->
                            <div class="mb-3">
                                <label for="recipe_ingredients" class="form-label"><i class="fa-solid fa-list-ul"></i>
                                    Ingredients:</label>
                                <div class="form-text">
                                    <i class="fa-solid fa-circle-info"></i>
                                    Please type each ingredient on a new row
                                    <!-- Ingredients Input Textarea -->
                                    <textarea class="form-control" id="recipe_ingredients" name="recipe_ingredients"
                                        rows="10" required></textarea>
                                </div>
                            </div>

                            <!-- Method -->
                            <div class="mb-3">
                                <label for="recipe_method" class="form-label"><i class="fa-solid fa-list-ol"></i>
                                    Method:</label>
                                <div id="recipe_ingredientsHelp" class="form-text">
                                    <i class="fa-solid fa-circle-info"></i>
                                    Please type each step on a new row with a blank row separating each step.
                                    <br>
                                    <i class="fa-solid fa-circle-info"></i>
                                    Prefix each step with a number, followed by a period: e.g. 1.
                                </div>
                                <!-- Method Input Textarea -->
                                <textarea class="form-control" id="recipe_method" name="recipe_method" rows="10"
                                    required></textarea>
                            </div>

                            <!-- Recipe Image -->
                            <label for="recipe_img">Image of Dish</label>
                            <div id="recipe_ingredientsHelp" class="form-text">
                                Please select a good quality image of your dish.
                            </div>
                            <div class="mb-3">
                                <input type="text" name="recipe_img" id="recipe_img" placeholder="Image URL"
                                    aria-placeholder="Recipe Image URL" aria-label="Recipe Image URL"
                                    class="form-control" required>
                            </div>

                            <!-- Post Date --
                            -- Date updates automatically via JS to display today's date. --
                            -- Date input is hidden because the user doesn't need to fill out this field. 
                            -- Attributes: 'readonly' and 'required' and Style: 'pointer-events: none;' 
                            --- are included in case Bootstrap fails to load or that it is decided to include this input field on the form later. -->
                            <div class="mb-3 d-none">
                                <label for="post_date" class="form-label"><i class="fa-solid fa-calendar-day"></i> Post
                                    Date:</label>
                                <input type="date" class="form-control" name="post_date" id="post_date" readonly
                                    required style="pointer-events: none;">
                            </div>

                            <!-- Submit Button -->
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add
                                    Recipe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal to Delete Recipe -->
        <div class="modal fade modal-for-delete" id="modal-for-delete-{{ recipe.id }}" tabindex="-1"
            data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modal-{{ recipe.id }}"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-{{ recipe.id }}">
                            <i class="fa-solid fa-trash-can"></i> Delete: "{{ recipe.recipe_name }}"</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-center">Are you sure you want to delete:</h4>

                        <!-- Recipe Card Preview-->
                        <div class="card text-center mx-auto mb-3" style="width: 18rem;">

                            <img src="{{ recipe.recipe_img }}" class="card-img-top" width="100%" height="180"
                                alt="Image for {{ recipe.recipe_name }} Recipe">

                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.recipe_name }}?</h5>
                            </div>
                        </div>

                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa-solid fa-circle-exclamation"></i></span>
                                This action cannot be undone.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa-solid fa-circle-exclamation"></i></span>
                                This recipe will be deleted forever.
                            </li>
                        </ul>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</main>
{% endblock %}