{% extends "base.html" %}
{% block content %}

<!--Styling for Rate Recipes Form-->
<style>
    .rating .btn {
        border: none;
    }

    .rating .icon i {
        color: black;
    }

    .rating .btn:hover .icon i,
    .rating .btn.hover .icon i {
        color: #ffc107;
    }

    .rating .btn.checked .icon i,
    .rating .btn.checked .icon i~.icon i {
        color: #ffc107;
    }
</style>

<main class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <!-- Recipe Header -->
                <header class="mb-4 py-5">
                    <!-- Recipe Name -->
                    <h1 class="fw-bolder mb-1">{{ recipe.recipe_name }}</h1>
                    <!-- Recipe Post Date & Author (meta content) -->
                    <div class="text-muted fst-italic mb-2">
                        Posted on {{ recipe.post_date.strftime('%d/%m/%Y') }}
                        <br>
                        By {{ recipe.user.username }}
                    </div>
                    <!-- Recipe Rating -->
                    <div>
                        {% if recipe.average_rating is none or recipe.average_rating == 0 %}
                        <span class="d-none">No Rating</span>
                        {% else %}
                        <!-- Display Average Rating As Stars -->
                        {% if recipe.average_rating == 1 %}
                        <!-- 1 Star -->
                        <i class="fa-solid fa-star"></i>
                        {% elif 1 < recipe.average_rating < 2 %}
                        <!-- 1.5 Stars -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {% elif recipe.average_rating == 2 %}
                        <!-- 2 Stars -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% elif 2 < recipe.average_rating < 3 %}
                        <!-- 2.5 Stars -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {% elif recipe.average_rating == 3 %}
                        <!-- 3 Stars -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% elif 3 < recipe.average_rating < 4 %}
                        <!-- 3.5 Stars -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <!-- 4 Stars -->
                        {% elif recipe.average_rating == 4 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <!-- 4.5 Stars -->
                        {% elif 4 < recipe.average_rating < 5 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <!-- 5 Stars -->
                        {% elif recipe.average_rating == 5 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% endif %}
                        <!-- Display Average Rating As Float, rounded to 1 decimal place-->
                        {{ recipe.average_rating|round(1) }}
                        {% endif %}
                    </div>

                    <!-- Cuisine Category -->
                    <a class="badge bg-secondary text-decoration-none link-light"
                        href="{{ url_for('recipes', cuisine_id=recipe.cuisine_id) }}">
                        <i class="fa-solid fa-hashtag"></i> {{ recipe.cuisine }}
                    </a>
                </header>
                <h5>Serves: {{ recipe.recipe_serves }}</h5>
                <!-- Recipe Image -->
                <figure class="mb-4">
                    <img class="img-fluid rounded" height="400" width="900" src="{{ recipe.recipe_img }}"
                        alt="Image for '{{ recipe.recipe_name }}' Recipe">
                </figure>
                <!-- Recipe About Description -->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">About</h2>
                    <p class="fs-5 mb-4">
                        {{ recipe.recipe_description }}
                    </p>
                </section>
                <!-- Recipe Ingredients Section -->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">Ingredients</h2>
                    <p class="recipe fs-5 mb-4">
                        {{ recipe.recipe_ingredients }}
                    </p>
                </section>
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">Method</h2>
                    <p class="recipe fs-5 mb-4">
                        {{ recipe.recipe_method }}
                    </p>
                </section>
            </article>
        </div>

        <!-- Side Widgets -->
        <div class="col-lg-4 py-5">
            <!-- Rate This Recipe -->
            <!-- DEV COMMENT: Ensure rate recipe widget is hidden/moved to bottom of page on mobile screens -->
            {% if recipe.user != g.user %}
            <div class="card mb-4">
                <div class="card-header">Rate This Recipe</div>
                <div class="card-body">

                    <!--Recipe Rating Form-->
                    <form method="POST" action="{{ url_for('rate_recipe', id=recipe.id) }}">
                        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                        <div class="rating mb-3">
                            <input type="radio" class="btn-check" name="recipe_rating" id="option1" value="1">
                            <label class="btn" for="option1">
                                <span class="icon">
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </label>

                            <input type="radio" class="btn-check" name="recipe_rating" id="option2" value="2">
                            <label class="btn" for="option2">
                                <span class="icon">
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </label>

                            <input type="radio" class="btn-check" name="recipe_rating" id="option3" value="3">
                            <label class="btn" for="option3">
                                <span class="icon">
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </label>

                            <input type="radio" class="btn-check" name="recipe_rating" id="option4" value="4">
                            <label class="btn" for="option4">
                                <span class="icon">
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </label>

                            <input type="radio" class="btn-check" name="recipe_rating" id="option5" value="5">
                            <label class="btn" for="option5">
                                <span class="icon">
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-sm btn-warning">Rate!</button>
                    </form>

                </div>
            </div>
            {% endif %}

            <!-- Ingredients -->
            <!-- DEV COMMENT: Ensure Ingredients widget is hidden on mobile screens -->
            <div class="card mb-4">
                <div class="card-header">Ingredients</div>
                <div class="recipe card-body">
                    {{ recipe.recipe_ingredients }}
                </div>
            </div>
        </div>

    </div>

</main>

<!--Script for Rate Recipe Form-->
<script>
    const labels = document.querySelectorAll('.rating .btn');
    const submitButton = document.querySelector('.rating button[type="submit"]');

    labels.forEach((label, index) => {
        label.addEventListener('mouseover', () => {
            for (let i = 0; i <= index; i++) {
                labels[i].classList.add('hover');
            }
        });

        label.addEventListener('mouseout', () => {
            labels.forEach((label) => {
                label.classList.remove('hover');
            });
        });

        label.addEventListener('click', () => {
            for (let i = 0; i <= index; i++) {
                labels[i].classList.add('checked');
            }

            for (let i = index + 1; i < labels.length; i++) {
                labels[i].classList.remove('checked');
            }
        });
    });
</script>

{% endblock %}