{% extends "base.html" %}
{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <!-- Recipe Header -->
                <header class="mb-4">
                    <!-- Recipe Name -->
                    <h1 class="fw-bolder mb-1">Recipe Name</h1>
                    <!-- Recipe Post Date & Author (meta content) -->
                    <div class="text-muted fst-italic mb-2">Posted on Date by Author</div>
                    <!-- Recipe Rating -->
                    <div class="">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <!-- Cuisine Categories -->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Cuisine Type</a>
                </header>
                <!-- Recipe Image -->
                <figure class="mb-4"><img class="img-fluid rounded"
                        src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Recipe About Description -->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">About</h2>
                    <p class="fs-5 mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <!-- Recipe Ingredients Section -->
                <section class="mb-5">
                    <h3 class="fw-bolder mb-4 mt-5">Ingredients</h3>
                    <ul class="fs-5 mb-4">
                        <!-- DEV COMMENT: <li>s purely for demonstration purposes. Create for loop to append data in array instead. -->
                        <li>Ingredient 1</li>
                        <li>Ingredient 2</li>
                        <li>Ingredient 3</li>
                        <li>Ingredient 4</li>
                        <li>Ingredient 5</li>
                        <li>Ingredient 6</li>
                    </ul>
                </section>
                <section class="mb-5">
                    <h3 class="fw-bolder mb-4 mt-5">Method</h3>
                    <ol class="fs-5 mb-4">
                        <!-- DEV COMMENT: <li>s purely for demonstration purposes. Create for loop to append data in array instead. -->
                        <li>Step 1</li>
                        <li>Step 2</li>
                        <li>Step 3</li>
                        <li>Step 4</li>
                        <li>Step 5</li>
                        <li>Step 6</li>
                    </ol>
                </section>
            </article>
        </div>
        <!-- Side Widgets -->
        <div class="col-lg-4">
            <!-- Rate This Recipe -->
            <!-- DEV COMMENT: Ensure rate recipe widget is hidden on mobile screens -->
            <div class="card mb-4">
                <div class="card-header">Rate This Recipe</div>
                <div class="card-body">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <!-- Ingredients -->
            <!-- DEV COMMENT: Ensure Ingredients widget is hidden on mobile screens -->
            <div class="card mb-4">
                <div class="card-header">Ingredients</div>
                <div class="card-body">
                    <ul>
                        <!-- DEV COMMENT: <li>s purely for demonstration purposes. Create for loop to append data in array instead. -->
                        <li>Ingredient 1</li>
                        <li>Ingredient 2</li>
                        <li>Ingredient 3</li>
                        <li>Ingredient 4</li>
                        <li>Ingredient 5</li>
                        <li>Ingredient 6</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}