{% extends "base.html" %}
{% block content %}
<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">Reset Your Password</h1>
      <p class="lead mb-3"></p>
    </div>
  </div>
</header>

<main class="container">
  <div class="form-signin w-100 m-auto">
    <form method="POST" action="{{ url_for('reset_password') }}">
      <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->

      <div class="form-floating w-50 mb-3">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email" required>
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating w-50 mb-3">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating w-50 mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
          required>
        <label for="floatingPassword">New Password</label>
      </div>

      <div class="form-floating w-50 mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="confirm_password"
          placeholder="Confirm Password" required>
        <label for="floatingPassword">Confirm New Password</label>
      </div>

      <button class="btn btn-primary mb-3" type="submit">Reset Password</button>
    </form>
  </div>
</main>

{% endblock %}